---
import { siteConfig } from "../config/site";
---

<nav class="site-nav">
  <div class="nav-inner">
    <a href="/" class="nav-title">{siteConfig.title}</a>
    <ul class="nav-links">
      {siteConfig.nav.map((item) => (
        <li>
          <a href={item.href}>{item.label}</a>
        </li>
      ))}
    </ul>
  </div>
</nav>
